<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>General Venture Fund</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static "general_fund/vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static "general_fund/css/shop-item.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">EasyVenture</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Dashbaord
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Invest
            <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Wallet</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">News</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <div class="col-lg-3">
        <h1 class="my-4">Invest now!</h1>
        <div class="list-group">
          <a href="#" class="list-group-item active">General Venture Funds</a>
          <a href="#" class="list-group-item">Technology Venture Funds</a>
        </div>
      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

        <div class="card mt-4">
          <div class="card-body">
            <div class="chart-area">
              <canvas id="myAreaChart"></canvas>
            </div>
          </div>
          <div class="card-body">
            <h3 class="card-title">General Venture Fund</h3>
            <h4>$325.85/unit</h4>
            <p class="card-text">General investment across all sectors focusing on early stage seed to series A. The fund focuses largely on investing in South East Asia market with potential investment in other APAC regions.</p>
            Rating: <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
          </div>
        </div>

        <div class="card-deck">
          <div class="card border-primary mb-3" style="max-width: 18rem;">
            <div class="card-header">Fund Target</div>
            <div class="card-body">
              <h3 class="card-text">$10,000,000</h3>
            </div>
          </div>
          <div class="card border-primary mb-3" style="max-width: 18rem;">
            <div class="card-header">Holding Period</div>
            <div class="card-body">
              <h3 class="card-text">5 Years</h3>
            </div>
          </div>
        </div>
        <div class="card-deck">
          <div class="card border-primary mb-3" style="max-width: 18rem;">
            <div class="card-header">Management Firm</div>
            <div class="card-body">
              <h3 class="card-text">Golden Gate Ventures</h3>
            </div>
          </div>
          <div class="card border-primary mb-3" style="max-width: 18rem;">
            <div class="card-header">Units Available</div>
            <div class="card-body">
              <h3 class="card-text">2,000</h3>
            </div>
          </div>
        </div>
        <!-- /.card -->
        
        <!-- /.card -->

      </div>
      <!-- /.col-lg-9 -->

    </div>

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; EasyVenture 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static "general_fund/vendor/jquery/jquery.min.js" %}"></script>
  <script src="{% static "general_fund/vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
  <script src="{% static "general_fund/js/demo/chart-area-demo.js" %}"></script>
  <script src="{% static "general_fund/vendor/jquery/jquery.min.js" %}"></script>
  <script src="{% static "general_fund/vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static "general_fund/vendor/jquery-easing/jquery.easing.min.js" %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static "general_fund/js/sb-admin-2.min.js" %}"></script>

  <!-- Page level plugins -->
  <script src="{% static "general_fund/vendor/chart.js/Chart.min.js" %}"></script>

  <!-- Page level custom scripts -->
  <script src="{% static "general_fund/js/demo/chart-area-demo.js" %}"></script>
  <script src="{% static "general_fund/js/demo/chart-pie-demo.js" %}"></script>

</body>

</html>
