<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Choose a fund</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static "choose_fund/vendor/bootstrap/css/bootstrap.min.css" % }" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static "choose_fund/css/shop-homepage.css" % }" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">EasyVenture</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <div class="col-lg-3">

        <h1 class="my-4">Invest!</h1>
        <div class="list-group">
          <a href="#" class="list-group-item">General Venture Funds</a>
          <a href="#" class="list-group-item">Technology Venture Funds</a>
        </div>

      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">
        <br>
        <div class="row">

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <div class="card-body">
                <div class="chart-area">
                  <canvas id="myAreaChart"></canvas>
                </div>
              </div>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">General Venture Fund</a>
                </h4>
                <h5>$325.85/unit</h5>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <div class="card-body">
                <div class="chart-area1">
                  <canvas id="myAreaChart"></canvas>
                </div>
              </div>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Technology Venture Fund</a>
                </h4>
                <h5>$220.00/unit</h5>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <div class="card-body">
                <div class="chart-area">
                  <canvas id="myAreaChart"></canvas>
                </div>
              </div>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Technology Venture Fund Stage 2</a>
                </h4>
                <h5>$514.99</h5>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9734; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <div class="card-body">
                <div class="chart-area">
                  <canvas id="myAreaChart"></canvas>
                </div>
              </div>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">General Venture Fund Stage 2</a>
                </h4>
                <h5>$884.32</h5>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9733;</small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <div class="card-body">
                <div class="chart-area">
                  <canvas id="myAreaChart"></canvas>
                </div>
              </div>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Healthcare Venture Fund/a>
                </h4>
                <h5>$333.32</h5>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9733;</small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <div class="card-body">
                <div class="chart-area">
                  <canvas id="myAreaChart"></canvas>
                </div>
              </div>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Healthcare Venture Fund Stage 2</a>
                </h4>
                <h5>$863.32</h5>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; EasyVenture 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static "choose_fund/vendor/jquery/jquery.min.js"></script>
  <script src="{% static "choose_fund/vendor/bootstrap/js/bootstrap.bundle.min.js" % }"></script>
  <script src="{% static "choose_fund/js/demo/chart-area-demo.js"></script>
  <script src="{% static "choose_fund/vendor/jquery/jquery.min.js"></script>
  <script src="{% static "choose_fund/vendor/bootstrap/js/bootstrap.bundle.min.js" % }"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static "choose_fund/vendor/jquery-easing/jquery.easing.min.js" % }"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static "choose_fund/js/sb-admin-2.min.js" % }"></script>

  <!-- Page level plugins -->
  <script src="{% static "choose_fund/vendor/chart.js/Chart.min.js" % }"></script>

  <!-- Page level custom scripts -->
  <script src="{% static "choose_fund/js/demo/chart-area-demo.js" % }"></script>
  <script src="{% static "choose_fund/js/demo/chart-pie-demo.js" % }"></script>
</body>

</html>
